<h1>Restaurants</h1>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"> <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none" %></li>

  <% end %>
</ul>

<%= link_to "+Restaurant", new_restaurant_path, class: "btn btn-primary my-3" %>
